.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0009;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: main;
    animation-duration: .2s;
}

@keyframes main {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    width: 24rem;
    background-color: #fff;
    box-shadow: #222 0 0 15px;
    padding: 2rem;
    border-radius: .5rem;
    height: min-content;
    position: relative;
}

.closeModal {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    margin: .2rem;
    height: 1.5rem;
    width: 1.5rem;
    color: #000;
}

/* .display {
    display: none;
}
.scrollLock{
    overflow: hidden;
} */
.addForm {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #333;
    gap: 1rem;
    border-radius: .35rem;
}

.addForm div {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.addForm input,
.addForm select {
    padding: .5rem;
    border: #78f .12rem solid;
    border-radius: .35rem;
    outline: none;
}

.addForm input:focus,
.addForm select:focus {
    outline: #78f .13rem solid;
    box-shadow: #78f 0 0 10px;
}

.addForm button {
    padding: .5rem;
    color: #78f;
    border: #78f .12rem solid;
    border-radius: .35rem;
    background-color: transparent;
    font-weight: 600;
    transition: .2s;
}

.addForm button:hover {
    color: #fff;
    background-color: #78f;
}

.addForm .inputWrong, .form .inputWrong {
    border: .01rem solid #f00;
    background-color: #f001;
}
.addForm .inputWrong:focus, .form .inputWrong:focus {
    outline: #f00 .13rem solid;
    box-shadow: #f00 0 0 10px;
}