.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    box-shadow: #777 0 0 11px 1px;
    padding: .6rem;
    border-radius: .5rem;
}
.itemText {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.item img {
    width: 1.8rem;
    height: 1.8rem;
}
.itemImg {
    display: flex;
    gap: .7rem;
}
.item:last-child {
    animation-name: historial;
    animation-duration: 1.5s;
}

@keyframes historial {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}