.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: #ccc 0 0 15px;
    padding: .6rem;
    border-radius: .35rem;
    color: #222;
}
.itemText {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.item img {
    width: 2.3rem;
    height: 2.3rem;
    cursor: pointer;
}
.itemImg {
    display: flex;
    gap: .7rem;
}
.item:last-child {
    animation-name: historial;
    animation-duration: 1.5s;
}

@keyframes historial {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}