.ciclosContainer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;
    list-style: none;
    margin: 1rem 0;
}

.ciclosContainer li {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    background-color: #fff;
    box-shadow: #ccc 0 0 15px;
    padding: .6rem;
    border-radius: .35rem;
    color: #222;
    width: 80%;
}

.cicloName {
    text-align: center;
}